<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui est! Natus excepturi consectetur eaque quo perspiciatis hic expedita quis, veritatis consequatur at! Veritatis voluptates, laboriosam corrupti consequuntur eveniet aspernatur magni facere. Ducimus sunt quaerat dolor impedit pariatur? Deserunt laborum, sunt reiciendis sequi minus cum consequuntur, nihil totam rem hic velit laudantium sint architecto. Provident in dolorum iste accusamus error?</p>
    </div>
</div>