<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nihil inventore unde. Dolorem</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, quisquam. Necessitatibus eum perspiciatis vitae dolorem beatae blanditiis repellendus distinctio commodi. Aliquid dolor dolores reiciendis magnam consequuntur, tempora repellendus numquam maiores itaque, explicabo voluptas, beatae architecto suscipit fugiat soluta debitis? Doloremque est mollitia dolor excepturi quibusdam consectetur recusandae vitae non eius ipsam modi sequi, quo saepe alias, nisi iure cum ab.</p>
    <a href="/about" class="btn btn-primary btn-lg">Leer más</a>
</div>